h1 {
  text-align: center;
}

.rectangle {
    background: rgba(20, 80, 135, 1);
    width: 350px;
    height: 800px;
    margin-left: 50px;
}

.alex {
  height: 300px;
  width: 300px;
  left: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  margin-top: 75px;
}
