h1 {
  text-align: center;
}

p {
  color: red;
}

.rectangle {
    background: rgba(20, 80, 135, 1);
    width: 200px;
    height: 800px;
    margin-left: 50px;
}

.alex {
  height: 200px;
  width: 200px;
  left: 30px;
  border-radius: 50%;
  object-fit: cover;
}
